<div class="container mt-4">
    <h2 class="text-center mb-4" style="color: #dc2430; font-weight: bold;">
        Agregar Bebida 🍸
    </h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg" style="border-radius: 15px; background-color: #fff0f5;">
                <div class="card-body">
                    <form [formGroup]="bebidaForm" (ngSubmit)="onSubmit()">
                        <!-- Nombre -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="nombre">Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre"
                                placeholder="Ingrese el nombre de la bebida" required>
                            @if(enviado && myForm['nombre'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">El nombre es obligatorio.</div>
                            }
                        </div>

                        <!-- Tipo -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="tipo">Tipo:</label>
                            <select class="form-control" (change)="actualizartipo($event)" formControlName="tipo"
                                title="tipo" required>
                                <option value="">Seleccione un tipo</option>
                                @for(tipo of bebidaTipo; track tipo) {
                                <option [value]="tipo">{{ tipo }}</option>
                                }
                            </select>
                            @if(enviado && myForm['tipo'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">Debes seleccionar un tipo.</div>
                            }
                        </div>

                        <!-- Ingredientes -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="ingredientes">Ingredientes:</label>
                            <input type="text" class="form-control" formControlName="ingredientes"
                                placeholder="Ingrese los ingredientes" required>
                            @if(enviado && myForm['ingredientes'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">Los ingredientes son obligatorios.</div>
                            }
                            @if(enviado && myForm['ingredientes'].errors?.['pattern']) {
                            <div class="alert alert-danger mt-2">Deben contener solo letras y comas.</div>
                            }
                        </div>

                        <!-- Precio -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="precio">Precio:</label>
                            <input type="number" class="form-control" formControlName="precio"
                                placeholder="Ingrese el precio" required>
                            @if(enviado && myForm['precio'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">El precio es obligatorio.</div>
                            }
                            @if(enviado && myForm['precio'].errors?.['pattern']) {
                            <div class="alert alert-danger mt-2">Debe ser un número positivo.</div>
                            }
                        </div>

                        <!-- Tamaño -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="tamanio">Tamaño:</label>
                            <input type="text" class="form-control" formControlName="tamanio"
                                placeholder="Ingrese el tamaño de la bebida" required>
                            @if(enviado && myForm['tamanio'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">El tamaño es obligatorio.</div>
                            }
                        </div>

                        <!-- Calorías -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="calorias">Calorías:</label>
                            <input type="number" class="form-control" formControlName="calorias"
                                placeholder="Ingrese las calorías" required>
                            @if(enviado && myForm['calorias'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">Las calorías son obligatorias.</div>
                            }
                            @if(enviado && myForm['calorias'].errors?.['min']) {
                            <div class="alert alert-danger mt-2">Deben ser un número positivo.</div>
                            }
                            @if(enviado && myForm['calorias'].errors?.['max']) {
                            <div class="alert alert-danger mt-2">No pueden exceder 1000.</div>
                            }
                        </div>

                        <!-- Imagen -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="imagen">Imagen:</label>
                            <!-- <input type="file" class="form-control" formControlName="imagen" accept="image/*"
                                placeholder="imagen de bebida" required> -->
                            <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*"
                                title="image" required>

                            @if(enviado && myForm['imagen'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">La imagen es obligatoria.</div>
                            }
                        </div>

                        <!-- Porcentaje de Alcohol -->
                        <div class="form-group mb-3">
                            <label class="fw-bold" for="porcentaje_alcohol">Porcentaje de Alcohol:</label>
                            <input type="number" class="form-control" formControlName="porcentaje_alcohol"
                                placeholder="Ingrese el porcentaje de alcohol" required>
                            @if(enviado && myForm['porcentaje_alcohol'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">El porcentaje es obligatorio.</div>
                            }
                            @if(enviado && myForm['porcentaje_alcohol'].errors?.['min']) {
                            <div class="alert alert-danger mt-2">Debe ser al menos 0.</div>
                            }
                            @if(enviado && myForm['porcentaje_alcohol'].errors?.['max']) {
                            <div class="alert alert-danger mt-2">No puede exceder 100.</div>
                            }
                        </div>

                        <!-- Nota -->
                        <div class="form-group mb-4">
                            <label class="fw-bold" for="nota">Nota:</label>
                            <textarea class="form-control" formControlName="nota"
                                placeholder="Ingrese una nota sobre la bebida" rows="3" required></textarea>
                            @if(enviado && myForm['nota'].errors?.['required']) {
                            <div class="alert alert-danger mt-2">La nota es obligatoria.</div>
                            }
                            @if(enviado && myForm['nota'].errors?.['maxlength']) {
                            <div class="alert alert-danger mt-2">No puede exceder los 200 caracteres.</div>
                            }
                        </div>

                        <!-- Botón -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-lg" style="background-color: #7b4397; color: white;">
                                Registrar Bebida 🍹
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>