<style>
  .custom-nav-link {
    color: black !important;
    transition: all 0.3s ease;
    font-weight: normal;
    text-decoration: none;
  }

  .custom-nav-link:hover,
  .custom-nav-link.active {
    font-weight: bold;
    color: black !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, #7b4397, #dc2430);">
  <div class="container-fluid">
    <!-- Logo opcional -->
    <!-- <img src="assets/logo-bebidas.png" alt="Logo Bebidas" width="40" height="40" class="me-2"> -->
    <a class="navbar-brand fw-bold fs-4" href="#">
      🍷 Bebidas Deliciosas
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-nav-link" routerLink="/listar-bebidas"
            routerLinkActive="active">
            🍹 Lista de Bebidas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-nav-link" routerLink="/agregar-bebida"
            routerLinkActive="active">
            🍸 Agregar Bebida
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-nav-link" routerLink="/editar-bebida/_id"
            routerLinkActive="active">
            🍾 Editar Bebida
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>