<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bebidas</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="active" routerLink="/listar-bebidas">Lista de bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="active" routerLink="/agregar-bebida">Agregar bebida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="active" routerLink="/editar-bebida">Editar de bebida</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>