<div class="container" style="margin: 20px;">

    <h2>Editar Bebidas🍻</h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-body">

                <form [formGroup]="editarBebidaForm" (ngSubmit)="onSubmit()">


                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="bebidaName" />
                        <!--Mensaje de error de validación-->
                        @if(enviado && myForm['nombre'].errors?.['required']) {
                        <div style="color: red">
                            Este campo es obligatorio
                        </div>
                        }
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select class="custom-select form-control" (change)="actualizarBebida($event)"
                            formControlName="marca" title="Selecciona una marca" required>
                            <option value="">Selecciona una marca...</option>
                            @for(marca of bebidaMarca; track marca) {
                            <option [value]="marca">{{ marca }}</option>
                            }
                        </select>
                        <!--Mensaje de error de validación-->
                        @if(enviado && myForm['marca'].errors?.['required']) {
                        <div style="color: red">
                            Debes seleccionar una marca
                        </div>
                        }
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="cantidad" class="form-control" formControlName="cantidad" placeholder="Cantidad" />
                        <!--Mensaje de error de validación-->
                        @if(enviado && myForm['cantidad'].errors?.['required']) {
                        <div style="color: red">
                            Este campo es obligatorio
                        </div>
                        }
                        <!--Mensaje de error de validación-->
                        @if(enviado && myForm['cantidad'].errors?.['pattern']) {
                        <div style="color: red">
                            la cantidad no es válido (usuario&#64;dominio.com)
                        </div>
                        }
                    </div>

                    <br />



                    <br />

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>